
h1 {
  background-color: lightgray;
  position: relative;
  top: 115px;
}

nav {
  list-style: none;
  position: relative;
  top:50px;
  left: 1150px;

}

body {
list-style: none;
display: inline;
position: relative;
bottom: 150px;

}

.main-cat {
border:1px solid black;
width: 400px;
position: relative;
bottom: 40px;
float: left;
margin-bottom: 85px;

}

.icon {
  width: 30px;
  position: relative;
  top: 375px;
  right: 35px;
  float: left;

}

ul {
  list-style: none;
  position: relative;
  bottom: 70px;
}

.row {
  display: inline;
}

.one {
  position: relative;
  top:520px;
  left: 1010px;
}

.two {
  position: relative;
  top:470px;
  left: 595px;
}

.three {
  position: relative;
  top:425px;
  left: 150px;
}

.four {
  position: relative;
  top:800px;
  right: 1100px;
}

.five {
  position: relative;
  bottom:500px;
  right: 700px;
}

.six {
  position: relative;
  top:275px;
  left: 150px;
}

.seven {
  position: relative;
  top:225px;
  left: 150px;
}

.eight {
  position: relative;
  top:175px;
  left: 150px;
}

.nine {
  position: relative;
  top:125px;
  left: 150px;
}

.ten {
  position: relative;
  top:75px;
  left: 150px;
}

.eleven {
  position: relative;
  top:25px;
  left: 150px;
}

.twelve {
  position: relative;
  top:-25px;
  left: 150px;
}






.triangle {
  width: 0;
height: 0;
border-style: solid;
border-width: 35px 19px 0 19px;
border-color: lightgray transparent;
position: relative;
top: 538px;
left: 365px;
}

.number-one {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-two {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-three {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-four {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-five {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-six {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-seven {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-eight {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-nine {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-ten {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-eleven {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}

.number-twelve {
  position: relative;
  background-color: white;
  width: auto;
  margin: auto;
  top: 575px;
  color: lightgray;
}
